environment: production

config:
  logLevel: debug
  healthCheckPort: 8000
  endpoint: 'polkadot-rpc-node'
  databaseUrl: 'postgres://{{ env "PG_USERNAME" }}:{{ env "PG_PASSWORD" }}@postgresql-14-primary/{{ env "PG_DBNAME" }}'
